In [1]:
import numpy as np
import pandas as pd

In [2]:
# def CargarDiccionario():
#     with open("Emision.csv","r", encoding="ISO-8859-1") as f:
#         next(f)
#         dicc_emisiones = {  'cod_pais' : [],
#                     'nom_pais' : [],
#                     'region' : [],
#                     'anio' : [],
#                     'co2' : [],
#                     'co2_percapita' : []
                    
#         }
#         for fila in f:
#             lista= fila.split("|")
#             dicc_emisiones['cod_pais'].append(lista[0])
#             dicc_emisiones['nom_pais'].append(lista[1])
#             dicc_emisiones['region'].append(lista[2])
#             dicc_emisiones['anio'].append(lista[3])
#             if lista[4]!="":
#                 dicc_emisiones['co2'].append(float(lista[4].replace('.', '').replace(',', '.')))
#             else:
#                 dicc_emisiones['co2'].append(None)
#             if lista[5]!="\n":
#                 dicc_emisiones['co2_percapita'].append(float(lista[5].replace("\n", "").replace('.', '').replace(',', '.')))
#             else:
#                 dicc_emisiones['co2_percapita'].append(None)
    
#     return dicc_emisiones

In [2]:
diccionario=pd.read_csv(".\Emision.csv", sep="|", decimal=",", thousands=".", encoding="latin-1")

In [3]:
df =pd.DataFrame(diccionario)
df.head(5)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [8]:
df[(df["Región"]=="América Latina y Caribe") & (df["Año"]==2010)].sum()[["CO2 (kt)"]]

CO2 (kt)    1691634.801
dtype: object

In [9]:
print(df.loc[df["CO2 (kt)"].idxmax(),["Nombre del país"]])
print(df["CO2 (kt)"].max())

Nombre del país    China
Name: 1923, dtype: object
9019518.22

In [10]:
df.groupby(["Región"])[["CO2 (kt)"]].sum().sort_values(["CO2 (kt)"],ascending=False)

                                     CO2 (kt)
Región
Norteamérica                     2.661438e+08
Asia Oriental y Asia-Pacífico    2.385467e+08
Europa y Asia Central            2.262463e+08
América Latina y Caribe          4.849364e+07
Oriente Medio y Norte de África  4.823732e+07
Sur de Asia                      4.139283e+07
África subsahariana              2.156179e+07